.App {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.top-bar{
  align-items: right;
  justify-content: right;
  text-align: right;
  align: right;
  font-size: calc(12px);
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
}

p#line{
  display: inline;
}
