.article{
  float:left;
  margin-top: 0px;
  align-items: left;
  justify-content: left;
  text-align: left;
  position: absolute;
  left: 100px;
  width: 80%;
  display: inline-block;
}

p.titleText{
  font-size: 30px;
}
p.sectionText{
  font-size: 23px;
}
p.boldText{
  font-size: 18px;
}

li {
    margin-top: -40px;
}


hr{
  align: left;
  width: 75%;
  margin-left: 50px;

}

.content{
  display: inline-block;
}

p{
  display: block;
  max-width: 600px;
  margin-left: 50px;
}

li {
  margin-left: -50px;
}
