.sideBar{
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  padding-top: 20px;
}

.app-link {
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.breakWiki{
  font-size: 12px;
  color: grey;
}

img#wikiLogo{
  max-width: 125px;
}
